/* src/Calculator.css */
.calculator {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #9fb1b9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .display {
    margin-bottom: 10px;
  }
  
  .display input {
    width: 90%;
    padding: 10px;
    font-size: 1.8em;
    text-align: right;
  }
  
  .result {
    text-align: right;
    font-size: 1.2em;
    padding: 10px 0;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .buttons button {
    padding: 20px;
    font-size: 1.2em;
    border: 10px;
    border-radius: 10px;
    background-color: #b48484;
    cursor: pointer;
  }
  
  .buttons button:active {
    background-color: #81a3ac;
  }
  
  .loan-calculator, .mortgage-calculator {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #728ea0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .loan-calculator h2, .mortgage-calculator h2 {
    text-align: center;
  }
  
  .loan-calculator label, .mortgage-calculator label {
    display: block;
    margin-bottom: 10px;
  }
  
  .loan-calculator input, .mortgage-calculator input {
    width: calc(100% - 20px);
    padding: 8px;
    font-size: 1em;
    margin: 0 auto;
  }
  
  .loan-calculator button, .mortgage-calculator button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #b7c2ce;
    color: #aca0a0;
    cursor: pointer;
  }
  
  .loan-calculator button:hover, .mortgage-calculator button:hover {
    background-color: #9fafc0;
  }
  
  .home-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .home-link a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  .home-link a:hover {
    text-decoration: underline;
  }